@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: azure;
}

.hero{
    background: url('https://www.softtrix.com/wp-content/uploads/2025/08/hero-banner-img-2.jpg');
    background-size: cover ;
   
    background-position: center center ;
    background-repeat: no-repeat;
    padding-top: 40px;
    position: relative;
    z-index: 1;
}